* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {

    margin: 25px;
    font-family: 'Raleway', sans-serif;
}


@font-face {
    font-family: 'DancingScript';
    src: url('/fonts/DancingScript-Regular.otf');
}

.wrapper {
    width: 100%;
}


.heroImage {
    height: 120vh;
    width: 100%;
    background: url('./img/bgc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.heroImageCopy {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

span.dancingFont:nth-child(1) {
    font-size: 3.3rem;
}

span.dancingFont:nth-child(2) {
    font-size: 2.3rem;
    padding-bottom: 3.5rem;
}

.dancingFont {
    font-family: DancingScript;
}

.heroFirstLine {
    font-family: 'Playfair Display', serif;
    font-size: 4.8rem;
}

.heroFirstLineUnderline {
    border-bottom: 3px solid white;
    height: 2rem;
    width: 10%;
    margin-bottom: 2rem;
}

.heroSecondLine {
    font-weight: 400;
    font-size: 1.6rem;
    width: 60%;
    text-align: center;
}


nav {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    border-bottom: 1px solid #ebebeb;
}

nav p {
    font-family: DancingScript;
    font-size: 2.2rem;
    color: #838181;
    line-height: 4rem;
    padding-left: 4rem;
    font-weight: 400;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}

nav li a {
    color: #696969;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    line-height: 4rem;
    padding-bottom: .3rem;
}

nav li a:hover {
    border-bottom: #d07c7c 2px solid;
}

.fas {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
}

.aboutMe {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

div.aboutMe h2,
div.works h2, div.followMe h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #5a5957;
    text-transform: uppercase;
    padding-top: 10rem;
}

.underline {
    width: 5%;
    height: 1.8rem;
    border-bottom: #d07c7c 2px solid;
    margin-bottom: 1.8rem;
}

div.aboutMe p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: #848282;
    width: 80%;
    text-align: center;
}

.works {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worksBox {
    display: flex;
}

.worksFirstColumn {
    display: flex;
    flex-direction: column;
}

.worksBoxFlex {
    display: flex;
}

.worksSecondColumn {
    display: flex;
    flex-direction: column;
}

.works img {
    box-sizing: border-box;
    padding: 12.5px 12.5px 12.5px 12.5px;
}

div.nature,
div.people,
div.wedding,
div.architecture,
div.bike,
div.animals {
    position: relative;

}

div.nature img,
div.people img,
div.wedding img,
div.architecture img,
div.bike img,
div.animals img {
    transition: .5s;
}

div.nature img:hover,
div.people img:hover,
div.wedding img:hover,
div.architecture img:hover,
div.bike img:hover,
div.animals img:hover {
    filter: blur(2px);
    cursor: pointer;
    transform: scale(1.025);
}

p.firstLine {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 2rem);
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    border-bottom: 2px white solid;
    padding-bottom: 2rem;
}

.firstLine,
.secondLine {
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    top: calc(50% + 2rem);
    left: 50%;
    transform: translate(-50%, -50%);
}

div.works a {
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: #d07c7c;
    padding: .7rem 1.5rem;
    cursor: pointer;
    margin-top: 7rem;
}

.testymonials {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.testymonials h2 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    color: #848282;
    padding-top: 10rem;
}

div.testymonials p.copy {
    font-size: 1.8rem;
    color: #848282;
    line-height: 2.5rem;
    width: 60%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

div.testymonials p.author {
    font-size: 1.3rem;
    color: #848282;
    padding-bottom: 2.5rem;
}

.video {
    background: url('./img/video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 85vh;
    transition: .5s;
}

.video p {
    text-transform: uppercase;
    font-size: 1.2rem;
    position: absolute;
    bottom: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
}

.video .fas {
    color: black;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border: 1px solid black;
    transition: .5s;
    cursor: pointer;    
}

.video .fas:hover {
    background-color: black;
    color: white;
}

.video:hover {
    filter: grayscale(100%);
}

.followMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pinterest {
    background: url('./img/pinterest.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    color: black;
}

.contactMe {
    height: 100vh;

}

.footer {
    height: 40vh;
    background-color: darkgreen;

}